<a href="{{ path('app_login') }}" class="auth-brand-link">
    <div class="auth-brand-mark"><i class="fa-solid fa-bullseye"></i></div>
    <div class="auth-brand-text">
        <div class="auth-brand-title">Les Archers du Faucigny</div>
        <div class="auth-brand-subtitle">Réservation tir libre</div>
    </div>
</a>
