{% extends 'base.login.html.twig' %}

{% block body %}
	<div class="form-signin w-100 m-auto text-center">
		<a href="/" style="color:black;text-decoration:none">
			<p style="line-height:40px;">
				<b>Les Archers du Faucigny - Système de réservation tir libre</b>
			</p>
		</a>
		<form action="{{ path('app_login_code') }}" method="post">
			<div class="form-floating">
                <input type="text" name="code" id="code" class="form-control" required autofocus>
                <label for="code">
                Entrez le <strong>code à 6 chiffres</strong> reçu par email.
                Il est valable <strong>5 minutes</strong> et ne peut être utilisé qu’une seule fois.
                </label>
			</div>
			
			<div class="clearfix">&nbsp;</div>
			<button type="submit" class="btn btn-primary">
                Se connecter
            </button>
            <a href="{{ path('app_login') }}" class="btn btn-link">
                Renvoyer un code
            </a>
		</form>
	</div>
{% endblock %}

