APP_ENV=
APP_SECRET=
DATABASE_URL="mysql://login:password@localhost:5432/database?serverVersion=16&charset=utf8"
DEFAULT_URI="http://localhost"
MAILER_DSN=mailjet+api://clé:token@api.mailjet.com
MAILER_FROM_EMAIL="thomaroger@gmail.com"
