<p>Bonjour {{ adherent.firstName }} {{ adherent.lastName }},</p>

<p>Voici votre <strong>code de connexion</strong> :</p>

<p style="font-size: 24px; font-weight: bold;">
    {{ code }}
</p>

<p>
    Ce code est valable <strong>5 minutes</strong> et ne peut être utilisé qu’une seule fois.
</p>

<p>
    Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.
</p>
<p>
    Les Archers du Faucigny - Système de réservation tir libre
</p>
